/* Footer.css */

/* CSS Reset */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
    background-color: #D62D7E;
    color: black;
  }
  
  h1 {
    font-size: 24px;
  }
  
  .contact-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
  
  .contact,
  .address {
    text-align: center;
  }
  
  h2 {
    font-size: 18px;
  }
  
  /* Add margin to the phone number */
  .contact p {
    margin-top: 10px; /* Adjust the spacing as needed */
  }
  
  /* Add margin to the address */
  .address p {
    margin-top: 10px; /* Adjust the spacing as needed */
  }
  
  p {
    margin: 0;
  }
  
  
  
  