/* SpecialMenu.css */
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.app__specialMenu {
    flex-direction: column;
    background: var(--color-pink);
    padding: 20px; 
    font-family: 'Cormorant', serif;
  }
  
  .app__specialMenu-title {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .app__specialMenu-menu {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 

  }
  
  .app__specialMenu-menu_item {
    margin-right: 30px; 
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .app__specialMenu-menu_img img {
    width: 100%; 
    max-width: 300px; 
    border-radius: 8px; 
  }

  .app__specialMenu-menu_content {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif; /* Adjust the margin-top value as needed */
  }
  
  .app__specialMenu-menu_content h2 {
    margin-bottom: 10px; /* Optional: Add margin below the title */
  }

  /* SpecialMenu.css */

.app__specialMenu-menu_content button {
    background-color: orange;
    color: white;
    padding: 12px 20px; /* Adjust padding for button size */
    font-size: 16px; /* Adjust font size */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .app__specialMenu-menu_content button:hover {
    background-color: darkorange; /* Change color on hover if desired */
  }
  
  
  